// Social Icons
//
// This is the social-icons component. It's an example.
//
// Markup: social-icons.twig
//
// Style guide: Components.Social Icons

// Import site utilities.
@import '../../global/utils/init';

.social-icons {
  display: flex;
}

.social-icons__item {
  margin: 0 1rem;
}

.social-icons--icon {
  width: 24px;
  height: 24px;
}
