{% import '@badcamp/icons/icons.twig' as icons %}
{{ attach_library('badcamp/social-icons') }}

<ul class="social-icons {{ class|default('') }}">
  {% for item in items %}
    <li class="social-icons__item">
      <a href="{{ item.url }}" class="social-icons__link">
        {{ icons.get(item.icon, 'icon social-icons--icon') }}
      </a>
    </li>
  {% endfor %}
</ul>
